<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>726438011070-d2he16clnopiioacq69k9o5pptcmhq5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726438011070-d2he16clnopiioacq69k9o5pptcmhq5l</string>
	<key>API_KEY</key>
	<string>AIzaSyBTwqrAYACPBmp9E8v3aHha7G-JgUtVoOw</string>
	<key>GCM_SENDER_ID</key>
	<string>726438011070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seasia.pictrApp</string>
	<key>PROJECT_ID</key>
	<string>pctrapp-85ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>pctrapp-85ffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726438011070:ios:08580f9dd370c67b</string>
	<key>DATABASE_URL</key>
	<string>https://pctrapp-85ffd.firebaseio.com</string>
</dict>
</plist>